

.text-centered {
    text-align:center
}
.dark-background{
    background-color:#161B33;
    color: whitesmoke;
}
.wrapper{
    width: 600px;
    margin: auto;
    padding: 20px;
}

img{ 
  width:100%;
   

}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 14px;
}
ul{
    text-align: center;
}

.inside{
    list-style-position: inside;
}
footer {
    background-color: #0D0C1D ;
    color: whitesmoke;
    text-align: center;
    font-size: x-small;
}
a{
    text-decoration: underline;
    font-weight: 700;
}
a:link {color:blue;}
a:visited {color:purple;}
a:hover {color:green;}
a:active {color:red;}
